# Copyright (c) 2025 Evolveum and contributors
#
# Licensed under the EUPL-1.2 or later.

# Ignore environment variable files
.env
*.env

# Ignore Python virtual environments
.venv/
venv/

# Ignore cache and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/

# Ignore git files
.git/
.gitignore